*{
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(#01012e,#240019);
    height: 100vh;
    font-family: system-ui;
}
section{
    background: url(../stars1.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    text-align: center;
}
ul li{
    list-style: none;
    margin: 14px 0;
}
ul li a{
    position: relative;
    z-index: 10;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    background: darkblue;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    width: 150px;
    transition: .5s;
     text-transform: uppercase;
     margin: 10px;
}
ul:hover li a{
    opacity: 0;
}
ul li a:hover{
     opacity: 1;
    transform: scale(1.5);
    background: darkmagenta;
   
}
ul li::after{
    content: attr(data-text);
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    letter-spacing: 50px;
    transition: 0.5s;
}
ul li:hover::after{
    opacity: 0.5;
    letter-spacing: 5px;
}
ul li::before{
    content: "";
    width: 180px;
    height: 80px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,70%);
    border-radius: 50%;
    box-shadow: 0 0 80px orangered;
    opacity: 0;
    transition: 0.5s;
}
ul li:hover::before{
    opacity: 0.5;
    width: 80px;
}